<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >
 
<section class="banner d-flex justify-content-center align-items-center ">
<div>
<h1 class="font-weight-bold">About US</h1>
<h2 class="font-weight-bold">Airline reservation systems (ARS) are systems that allow an airline to sell their inventory (seats).<br> 
It contains information on schedules and fares and contains a database of reservations (or passenger name) and of tickets issued <br>
(if applicable).</h2>
</div>
<!-- <img src="https://images.unsplash.com/photo-1587019158091-1a103c5dd17f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" width="100%" height="730px"> -->

</section>


</body>
</html>